<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-admin></app-admin>
   <div class="container mt-4">
    <div class="row">
    @for (uneEcurie of ecurie; track $index) {
        <div class="col-md-4 mb-4" >
            <div class="card">
                <div class="card-body">
            <h2>{{ uneEcurie.nom }}</h2>
            <p>{{ uneEcurie.localisation }}</p>
            
            <div>
                
            <button (click)="supprimerEcurie(uneEcurie.id)" class="btn btn-danger">supprimer  </button>
        
            <button routerLink="/modif-ecurie" class="btn btn-warning">  modifier</button>
        </div>
        </div>
        </div>
        </div>
    
    }
</div>
   </div>
</body>

</html>