
<div class="container-fluid">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="liste-combat">Combat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="liste-actu">Actualité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="liste-classement">Classement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="statistique">Statistique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-lutteur">Lutteur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="liste-ecurie">Ecurie</a>
      </li>
      
    </ul>
  </div>
</div> 
<router-outlet></router-outlet>

    

