
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="node_modules/moment/moment.js"></script>
    <title>Lutteur</title>
</head>

<body>
    <app-admin></app-admin>
    <div class="container">
        <div class="row ">
               <h3>actualité </h3>
               <div class="row">
                @for (actu of actualite; track $index) {
                    <div class="card mb-4">
                        <a href="{{actu.contenu}}" target="_blank" rel="noopener noreferrer">{{actu.teaser}}</a>
                        <p>il y'a : {{ formatDate(actu.createdAT) }}</p>
                    </div>
                    
                    
                }
                </div>
              </div>
        </div>
    

    
</body>

</html>
